<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script
	src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="scripts/main.js"></script>
</head>
<body ng-app="siare">
	<div class="header">
		<img alt="UFSC" src="images/ufsc-header.png">
	</div>
	<div class="container">
		<div class="menu">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#"
					ng-click="estagio = true; raeno = false">REGISTRAR ESTÁGIO</a></li>
				<li class="list-inline-item"><a href="#"
					ng-click="raeno = true; estagio = false">RAENO</a></li>
			</ul>
		</div>
		<div ng-show="estagio" ng-controller="EstagioCtrl">
			<ul class="nav nav-pills">
				<li ng-class="{ active : menuAtivo == 'dados_estagio'}"><a
					id="dados_estagio" href="#" ng-click="navegar($event)">Dados do
						estágio</a></li>
				<li ng-class="{ active : menuAtivo == 'concedente'}"><a
					id="concedente" href="#" ng-click="navegar($event)">Concedente</a></li>
				<li ng-class="{ active : menuAtivo == 'pae'}"><a id="pae"
					href="#" ng-click="navegar($event)">Programa de atividades de
						estágio</a></li>
				<li ng-class="{ active : menuAtivo == 'informacoes_pessoais'}">
					<a id="informacoes_pessoais" href="#" ng-click="navegar($event)">Informações
						pessoais</a>
				</li>
			</ul>
			<div class="conteiner-formulario"
				ng-show="menuAtivo == 'dados_estagio'">
				<div class="alert alert-info">
					<i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
					Nesta tela são informados os dados gerais do estágio, como
					professor orientador, dados do pagamento da bolsa, seguro, etc.
					<hr>
					Campos marcados com * são obrigatórios.
				</div>
				<form class="form-horizontal" action="/action_page.php">
					<div class="form-group">
						<label class="control-label col-sm-3" for="obrigatorio">Estágio
							obrigatório *</label>
						<div class="col-sm-9">
							<label class="radio-inline"><input type="radio"
								name="obrigatorio">Sim</label> <label class="radio-inline"><input
								type="radio" name="obrigatorio" checked="checked">Não</label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="data-inicio">Data
							de início *</label>
						<div class="col-sm-9">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="data-termino">Data
							de término *</label>
						<div class="col-sm-9">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="horas-semanais">Total
							de horas semanais *</label>
						<div class="col-sm-2">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="horas-diarias">Total
							de horas diárias *</label>
						<div class="col-sm-2">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="disciplinas">Disciplinas
							relacionadas *</label>
						<div class="col-sm-9">
							<input type="text" ng-model="disciplina"
								typeahead-on-select="selecionarDisciplina($item, $model, $label, $event)"
								uib-typeahead="disc for disc in disciplinas | filter:$viewValue"
								class="form-control">
							<br ng-if="estagio.disciplinas.length > 0">
							<div class="input-group"
								ng-repeat="disc in estagio.disciplinas track by $index" >
								<input type="text" 
									class="form-control" 
									ng-value="disc"
									ng-disabled="true">
								<div class="input-group-btn">
									<button class="btn btn-danger" type="button" ng-click="removerDisciplina($index)">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
								</div>
							</div>

						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="orientador">Professor orientador *</label>
						<div class="col-sm-9">
							<input type="text" ng-model="estagio.professor_orientador"
								typeahead-on-select="selecionarOrientador($item, $model, $label, $event)"
								uib-typeahead="prof.nome for prof in professores | filter:$viewValue"
								class="form-control">
						</div>
					</div>
					<div class="form-group" ng-if="estagio.professor_orientador">
						<label class="control-label col-sm-3" for="orientador">Departamento</label>
						<div class="col-sm-9">
							<input ng-if="departamentoOrientador" type="text" class="form-control" ng-value="departamentoOrientador" ng-disabled="true">
						</div>
					</div>












					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-9">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="menuAtivo == 'concedente'"></div>
			<div ng-show="menuAtivo == 'pae'"></div>
			<div ng-show="menuAtivo == 'informacoes_pessoais'"></div>
		</div>
		<div ng-show="raeno">raeno</div>

	</div>

</body>
</html>